In [1]:
import pandas as pd
import numpy as np

# สร้าง Series จาก List
s1 = pd.Series([10, 20, 30, 40], name='MyGrades')
print(s1)

# สร้าง Series พร้อมกำหนด Index เอง
s2 = pd.Series([170, 165, 180], index=['John', 'Jane', 'Peter'])
print(s2)

0    10
1    20
2    30
3    40
Name: MyGrades, dtype: int64
John     170
Jane     165
Peter    180
dtype: int64

In [2]:
import pandas as pd

data = {
    'ชื่อ': ['สมชาย', 'สมศรี', 'มานะ', 'ชูใจ'],
    'อายุ': [32, 28, 45, 39],
    'แผนก': ['การตลาด', 'บุคคล', 'ขาย', 'การตลาด']
}

df = pd.DataFrame(data)

print("--- DataFrame ที่สร้างจาก Dictionary ---")
print(df)

print("\n--- ประเภทข้อมูลของแต่ละคอลัมน์ ---")
print(df.info())

--- DataFrame ที่สร้างจาก Dictionary ---
    ชื่อ  อายุ     แผนก
0  สมชาย    32  การตลาด
1  สมศรี    28    บุคคล
2   มานะ    45      ขาย
3   ชูใจ    39  การตลาด

--- ประเภทข้อมูลของแต่ละคอลัมน์ ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ชื่อ    4 non-null      object
 1   อายุ    4 non-null      int64
 2   แผนก    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes
None

In [3]:
import pandas as pd

data_list = [
    {'ชื่อ': 'สมชาย', 'อายุ': 32, 'แผนก': 'การตลาด'},
    {'ชื่อ': 'สมศรี', 'อายุ': 28, 'แผนก': 'บุคคล'},
    {'ชื่อ': 'มานะ', 'อายุ': 45, 'แผนก': 'ขาย'},
    {'ชื่อ': 'ชูใจ', 'อายุ': 39, 'แผนก': 'การตลาด'}
]

df_from_list = pd.DataFrame(data_list)

print("--- DataFrame ที่สร้างจาก List ของ Dictionaries ---")
print(df_from_list)

print("\n--- ประเภทข้อมูลของแต่ละคอลัมน์ ---")
print(df_from_list.info())

--- DataFrame ที่สร้างจาก List ของ Dictionaries ---
    ชื่อ  อายุ     แผนก
0  สมชาย    32  การตลาด
1  สมศรี    28    บุคคล
2   มานะ    45      ขาย
3   ชูใจ    39  การตลาด

--- ประเภทข้อมูลของแต่ละคอลัมน์ ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ชื่อ    4 non-null      object
 1   อายุ    4 non-null      int64
 2   แผนก    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes
None

In [4]:
# -*- coding: utf-8 -*-
import pandas as pd
import numpy as np

# --- 1. สร้าง DataFrame ตัวอย่าง ---
# สร้างข้อมูลตัวอย่างเกี่ยวกับนักเรียน
data = {
    'ชื่อ': ['สมชาย', 'สมหญิง', 'มานี', 'ปิติ', 'วีระ', 'ชูใจ', 'จันดี', 'มานะ', 'เพชร', 'ไพลิน'],
    'อายุ': [18, 19, 18, 20, 21, 19, 22, 18, 20, 21],
    'คะแนน': [85, 92, 78, 88, 95, 76, 89, 91, 82, 93],
    'เมือง': ['กรุงเทพ', 'เชียงใหม่', 'กรุงเทพ', 'ขอนแก่น', 'ภูเก็ต', 'เชียงใหม่', 'กรุงเทพ', 'เชียงใหม่', 'ขอนแก่น', 'ภูเก็ต']
}
df = pd.DataFrame(data)

print("--- DataFrame ทั้งหมด ---")
print(df)
print("\n" + "="*30 + "\n")

--- DataFrame ทั้งหมด ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย    18     85    กรุงเทพ
1  สมหญิง    19     92  เชียงใหม่
2    มานี    18     78    กรุงเทพ
3    ปิติ    20     88    ขอนแก่น
4    วีระ    21     95     ภูเก็ต
5    ชูใจ    19     76  เชียงใหม่
6   จันดี    22     89    กรุงเทพ
7    มานะ    18     91  เชียงใหม่
8    เพชร    20     82    ขอนแก่น
9   ไพลิน    21     93     ภูเก็ต

==============================

In [5]:
# --- 2. การสำรวจข้อมูลเบื้องต้น (Initial Inspection) ---

# 2.1 df.head(n): แสดงข้อมูล n แถวแรก
# ถ้าไม่ระบุ n จะแสดง 5 แถวแรกเป็นค่าเริ่มต้น
print("--- 1. df.head(): แสดง 5 แถวแรก ---")
print(df.head())
print("\n")

--- 1. df.head(): แสดง 5 แถวแรก ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย    18     85    กรุงเทพ
1  สมหญิง    19     92  เชียงใหม่
2    มานี    18     78    กรุงเทพ
3    ปิติ    20     88    ขอนแก่น
4    วีระ    21     95     ภูเก็ต

In [6]:
# แสดงข้อมูล 3 แถวแรก
print("--- 2. df.head(3): แสดง 3 แถวแรก ---")
print(df.head(3))
print("\n" + "="*30 + "\n")

--- 2. df.head(3): แสดง 3 แถวแรก ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย    18     85    กรุงเทพ
1  สมหญิง    19     92  เชียงใหม่
2    มานี    18     78    กรุงเทพ

==============================

In [7]:
# 2.2 df.tail(n): แสดงข้อมูล n แถวสุดท้าย
# ถ้าไม่ระบุ n จะแสดง 5 แถวสุดท้ายเป็นค่าเริ่มต้น
print("--- 3. df.tail(): แสดง 5 แถวสุดท้าย ---")
print(df.tail())
print("\n")

--- 3. df.tail(): แสดง 5 แถวสุดท้าย ---
    ชื่อ  อายุ  คะแนน      เมือง
5   ชูใจ    19     76  เชียงใหม่
6  จันดี    22     89    กรุงเทพ
7   มานะ    18     91  เชียงใหม่
8   เพชร    20     82    ขอนแก่น
9  ไพลิน    21     93     ภูเก็ต

In [8]:
# แสดงข้อมูล 2 แถวสุดท้าย
print("--- 4. df.tail(2): แสดง 2 แถวสุดท้าย ---")
print(df.tail(2))
print("\n" + "="*30 + "\n")

--- 4. df.tail(2): แสดง 2 แถวสุดท้าย ---
    ชื่อ  อายุ  คะแนน    เมือง
8   เพชร    20     82  ขอนแก่น
9  ไพลิน    21     93   ภูเก็ต

==============================

In [9]:
# 2.3 df.sample(n): สุ่มแสดงข้อมูล n แถว
# การใช้ sample() จะได้ผลลัพธ์ไม่เหมือนกันทุกครั้งที่รัน
print("--- 5. df.sample(4): สุ่มแสดงข้อมูล 4 แถว ---")
print(df.sample(4))
print("\n")

--- 5. df.sample(4): สุ่มแสดงข้อมูล 4 แถว ---
     ชื่อ  อายุ  คะแนน      เมือง
2    มานี    18     78    กรุงเทพ
6   จันดี    22     89    กรุงเทพ
1  สมหญิง    19     92  เชียงใหม่
4    วีระ    21     95     ภูเก็ต

In [10]:
# 3.1 df.shape: บอกมิติของ DataFrame (จำนวนแถว, จำนวนคอลัมน์)
print("--- 6. df.shape: ตรวจสอบมิติของ DataFrame ---")
# .shape จะคืนค่าเป็น tuple (จำนวนแถว, จำนวนคอลัมน์)
print(f"มิติของ DataFrame คือ: {df.shape}") 
rows, cols = df.shape
print(f"จำนวนแถว: {rows}")
print(f"จำนวนคอลัมน์: {cols}")
print("\n" + "="*30 + "\n")

--- 6. df.shape: ตรวจสอบมิติของ DataFrame ---
มิติของ DataFrame คือ: (10, 4)
จำนวนแถว: 10
จำนวนคอลัมน์: 4

==============================

In [11]:
# 3.2 df.dtypes: บอกชนิดข้อมูลของแต่ละคอลัมน์
print("--- 7. df.dtypes: ตรวจสอบชนิดข้อมูล ---")
# .dtypes จะแสดงรายการของคอลัมน์และชนิดข้อมูลของคอลัมน์นั้นๆ
# object หมายถึง ข้อความ (string)
# int64 หมายถึง เลขจำนวนเต็ม
print(df.dtypes)
print("\n")

--- 7. df.dtypes: ตรวจสอบชนิดข้อมูล ---
ชื่อ     object
อายุ      int64
คะแนน     int64
เมือง    object
dtype: object

In [12]:
# --- 4. df.info() - ภาพรวมที่สมบูรณ์ ---
# ให้ข้อมูลสรุปที่สำคัญ:
# - จำนวนแถวและ Index range
# - จำนวนคอลัมน์ทั้งหมด
# - ชื่อ, จำนวนข้อมูลที่ไม่ใช่ค่าว่าง (Non-Null Count), และชนิดข้อมูล (Dtype) ของแต่ละคอลัมน์
# - ปริมาณหน่วยความจำที่ใช้
print("--- 8. df.info(): แสดงข้อมูลสรุปของ DataFrame ---")
df.info()
print("\n")

--- 8. df.info(): แสดงข้อมูลสรุปของ DataFrame ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ชื่อ    10 non-null     object
 1   อายุ    10 non-null     int64
 2   คะแนน   10 non-null     int64
 3   เมือง   10 non-null     object
dtypes: int64(2), object(2)
memory usage: 452.0+ bytes

In [13]:
# --- 5. df.describe() - สรุปเชิงสถิติ ---
# ให้ข้อมูลสรุปเชิงสถิติสำหรับคอลัมน์ที่เป็น "ตัวเลข" (Numeric) เท่านั้น
# แสดงค่า: count, mean, std, min, 25%, 50% (median), 75%, max
print("--- 9. df.describe(): แสดงข้อมูลสรุปเชิงสถิติ ---")
print(df.describe())
print("\n")

--- 9. df.describe(): แสดงข้อมูลสรุปเชิงสถิติ ---
            อายุ      คะแนน
count  10.000000  10.000000
mean   19.600000  86.900000
std     1.429841   6.471304
min    18.000000  76.000000
25%    18.250000  82.750000
50%    19.500000  88.500000
75%    20.750000  91.750000
max    22.000000  95.000000

In [14]:
# --- 6. การเขียนข้อมูลลงไฟล์ (Writing Data) ---
# บันทึก DataFrame ลงไฟล์ CSV
# index=False คือ parameter ที่สำคัญ เพื่อไม่ให้บันทึก index (0, 1, 2, ...) ลงไปในไฟล์ด้วย
output_filename = 'students_output.csv'
df.to_csv(output_filename, index=False)

print(f"--- 10. df.to_csv(): บันทึกข้อมูลลงไฟล์ ---")
print(f"ข้อมูลได้ถูกบันทึกเรียบร้อยแล้วในไฟล์ชื่อ '{output_filename}'")

# (Optional) แสดง path ของไฟล์ที่บันทึก
# print(f"ไฟล์ถูกบันทึกที่: {os.path.abspath(output_filename)}")
print("\n")

--- 10. df.to_csv(): บันทึกข้อมูลลงไฟล์ ---
ข้อมูลได้ถูกบันทึกเรียบร้อยแล้วในไฟล์ชื่อ 'students_output.csv'

In [15]:
# --- 7. การเลือกคอลัมน์ (Column Selection) ---

# 7.1 เลือก 1 คอลัมน์ (ผลลัพธ์เป็น Pandas Series)
print("--- 9. การเลือก 1 คอลัมน์ ('ชื่อ') ---")
names_series = df['ชื่อ']
print(names_series)
print(f"\nชนิดข้อมูลของผลลัพธ์: {type(names_series)}")
print("\n" + "="*30 + "\n")

--- 9. การเลือก 1 คอลัมน์ ('ชื่อ') ---
0     สมชาย
1    สมหญิง
2      มานี
3      ปิติ
4      วีระ
5      ชูใจ
6     จันดี
7      มานะ
8      เพชร
9     ไพลิน
Name: ชื่อ, dtype: object

ชนิดข้อมูลของผลลัพธ์: <class 'pandas.core.series.Series'>

==============================

In [16]:
# 7.2 เลือกหลายคอลัมน์ (ผลลัพธ์เป็น Pandas DataFrame)
# สังเกตการใช้ [[]] เพื่อส่ง list ของชื่อคอลัมน์เข้าไป
print("--- 10. การเลือกหลายคอลัมน์ ('ชื่อ', 'คะแนน') ---")
subset_df = df[['ชื่อ', 'คะแนน']]
print(subset_df)
print(f"\nชนิดข้อมูลของผลลัพธ์: {type(subset_df)}")
print("\n")

--- 10. การเลือกหลายคอลัมน์ ('ชื่อ', 'คะแนน') ---
     ชื่อ  คะแนน
0   สมชาย     85
1  สมหญิง     92
2    มานี     78
3    ปิติ     88
4    วีระ     95
5    ชูใจ     76
6   จันดี     89
7    มานะ     91
8    เพชร     82
9   ไพลิน     93

ชนิดข้อมูลของผลลัพธ์: <class 'pandas.core.frame.DataFrame'>

In [17]:
# --- 8. การเลือกแถวด้วย .loc[] (Label-based Selection) ---
# ใช้สำหรับเลือกข้อมูลโดยอ้างอิงจาก "ป้ายกำกับ" (Label) ของ Index และชื่อคอลัมน์

# 8.1 เลือกแถวเดียวตามป้ายกำกับ (Label)
print("--- 11. การเลือกแถวด้วย .loc[3] ---")
row_3 = df.loc[3]
print(row_3)
print(f"\nชนิดข้อมูลของผลลัพธ์: {type(row_3)}")
print("\n" + "="*30 + "\n")

--- 11. การเลือกแถวด้วย .loc[3] ---
ชื่อ        ปิติ
อายุ          20
คะแนน         88
เมือง    ขอนแก่น
Name: 3, dtype: object

ชนิดข้อมูลของผลลัพธ์: <class 'pandas.core.series.Series'>

==============================

In [18]:
# 8.2 เลือกหลายแถวด้วย List ของป้ายกำกับ
print("--- 12. การเลือกหลายแถวด้วย .loc[[0, 5, 8]] ---")
rows_multiple = df.loc[[0, 5, 8]]
print(rows_multiple)
print(f"\nชนิดข้อมูลของผลลัพธ์: {type(rows_multiple)}")
print("\n" + "="*30 + "\n")

--- 12. การเลือกหลายแถวด้วย .loc[[0, 5, 8]] ---
    ชื่อ  อายุ  คะแนน      เมือง
0  สมชาย    18     85    กรุงเทพ
5   ชูใจ    19     76  เชียงใหม่
8   เพชร    20     82    ขอนแก่น

ชนิดข้อมูลของผลลัพธ์: <class 'pandas.core.frame.DataFrame'>

==============================

In [19]:
# 8.3 เลือกแถวแบบช่วง (Slicing) - .loc จะ "รวม" ค่าสุดท้ายด้วย
print("--- 13. การเลือกแถวแบบช่วง .loc[2:5] (รวมแถว index 5) ---")
slice_rows_loc = df.loc[2:5]
print(slice_rows_loc)
print(f"\nชนิดข้อมูลของผลลัพธ์: {type(slice_rows_loc)}")
print("\n" + "="*30 + "\n")

--- 13. การเลือกแถวแบบช่วง .loc[2:5] (รวมแถว index 5) ---
   ชื่อ  อายุ  คะแนน      เมือง
2  มานี    18     78    กรุงเทพ
3  ปิติ    20     88    ขอนแก่น
4  วีระ    21     95     ภูเก็ต
5  ชูใจ    19     76  เชียงใหม่

ชนิดข้อมูลของผลลัพธ์: <class 'pandas.core.frame.DataFrame'>

==============================

In [20]:
# 8.4 เลือกทั้งแถวและคอลัมน์ด้วย .loc
print("--- 14. การเลือกแถว 2-5 และคอลัมน์ 'ชื่อ', 'คะแนน' ---")
subset_loc = df.loc[2:5, ['ชื่อ', 'คะแนน']]
print(subset_loc)
print(f"\nชนิดข้อมูลของผลลัพธ์: {type(subset_loc)}")
print("\n")

--- 14. การเลือกแถว 2-5 และคอลัมน์ 'ชื่อ', 'คะแนน' ---
   ชื่อ  คะแนน
2  มานี     78
3  ปิติ     88
4  วีระ     95
5  ชูใจ     76

ชนิดข้อมูลของผลลัพธ์: <class 'pandas.core.frame.DataFrame'>

In [21]:
# --- 9. การเลือกแถวด้วย .iloc[] (Integer-based Selection) ---
# ใช้สำหรับเลือกข้อมูลโดยอ้างอิงจาก "ตำแหน่ง" (Integer Position) ที่เริ่มต้นที่ 0

# 9.1 เลือกแถวเดียวตามตำแหน่ง
print("--- 15. การเลือกแถวด้วย .iloc[3] (แถวที่ 4) ---")
row_iloc_3 = df.iloc[3]
print(row_iloc_3)
print(f"\nชนิดข้อมูลของผลลัพธ์: {type(row_iloc_3)}")
print("\n" + "="*30 + "\n")

--- 15. การเลือกแถวด้วย .iloc[3] (แถวที่ 4) ---
ชื่อ        ปิติ
อายุ          20
คะแนน         88
เมือง    ขอนแก่น
Name: 3, dtype: object

ชนิดข้อมูลของผลลัพธ์: <class 'pandas.core.series.Series'>

==============================

In [22]:
# 9.2 เลือกหลายแถวด้วย List ของตำแหน่ง
print("--- 16. การเลือกหลายแถวด้วย .iloc[[0, 5, 8]] ---")
rows_iloc_multiple = df.iloc[[0, 5, 8]]
print(rows_iloc_multiple)
print(f"\nชนิดข้อมูลของผลลัพธ์: {type(rows_iloc_multiple)}")
print("\n" + "="*30 + "\n")

--- 16. การเลือกหลายแถวด้วย .iloc[[0, 5, 8]] ---
    ชื่อ  อายุ  คะแนน      เมือง
0  สมชาย    18     85    กรุงเทพ
5   ชูใจ    19     76  เชียงใหม่
8   เพชร    20     82    ขอนแก่น

ชนิดข้อมูลของผลลัพธ์: <class 'pandas.core.frame.DataFrame'>

==============================

In [23]:
# 9.3 เลือกแถวแบบช่วง (Slicing) - .iloc จะ "ไม่รวม" ค่าสุดท้าย
print("--- 17. การเลือกแถวแบบช่วง .iloc[2:5] (แถวตำแหน่ง 2, 3, 4) ---")
slice_rows_iloc = df.iloc[2:5]
print(slice_rows_iloc)
print(f"\nชนิดข้อมูลของผลลัพธ์: {type(slice_rows_iloc)}")
print("\n" + "="*30 + "\n")

--- 17. การเลือกแถวแบบช่วง .iloc[2:5] (แถวตำแหน่ง 2, 3, 4) ---
   ชื่อ  อายุ  คะแนน    เมือง
2  มานี    18     78  กรุงเทพ
3  ปิติ    20     88  ขอนแก่น
4  วีระ    21     95   ภูเก็ต

ชนิดข้อมูลของผลลัพธ์: <class 'pandas.core.frame.DataFrame'>

==============================

In [24]:
# 9.4 เลือกทั้งแถวและคอลัมน์ด้วย .iloc
# เลือกแถวตำแหน่ง 2-4 และคอลัมน์ตำแหน่ง 0 ('ชื่อ') และ 2 ('คะแนน')
print("--- 18. การเลือกแถว 2-4 และคอลัมน์ 0, 2 ---")
subset_iloc = df.iloc[2:5, [0, 2]]
print(subset_iloc)
print(f"\nชนิดข้อมูลของผลลัพธ์: {type(subset_iloc)}")
print("\n")

--- 18. การเลือกแถว 2-4 และคอลัมน์ 0, 2 ---
   ชื่อ  คะแนน
2  มานี     78
3  ปิติ     88
4  วีระ     95

ชนิดข้อมูลของผลลัพธ์: <class 'pandas.core.frame.DataFrame'>

In [25]:
# --- 10. การคัดกรองข้อมูลตามเงื่อนไข (Conditional Filtering) ---
# หัวใจของการเตรียมข้อมูล คือการเลือกเฉพาะข้อมูลที่ตรงตามเงื่อนไข

# 10.1 สร้างเงื่อนไข (Condition) ที่ให้ผลลัพธ์เป็น Boolean Series
print("--- 19. สร้าง Boolean Series จากเงื่อนไข (อายุ > 20) ---")
condition = df['อายุ'] > 20
print(condition)
print(f"\nชนิดข้อมูลของผลลัพธ์: {type(condition)}")
print("\n" + "="*30 + "\n")

--- 19. สร้าง Boolean Series จากเงื่อนไข (อายุ > 20) ---
0    False
1    False
2    False
3    False
4     True
5    False
6     True
7    False
8    False
9     True
Name: อายุ, dtype: bool

ชนิดข้อมูลของผลลัพธ์: <class 'pandas.core.series.Series'>

==============================

In [26]:
# 10.2 นำ Boolean Series ไปใช้เลือกข้อมูลใน DataFrame
print("--- 20. คัดกรองนักเรียนที่อายุมากกว่า 20 ปี ---")
students_over_20 = df[condition] # หรือ df[df['อายุ'] > 20]
print(students_over_20)
print("\n" + "="*30 + "\n")

--- 20. คัดกรองนักเรียนที่อายุมากกว่า 20 ปี ---
    ชื่อ  อายุ  คะแนน    เมือง
4   วีระ    21     95   ภูเก็ต
6  จันดี    22     89  กรุงเทพ
9  ไพลิน    21     93   ภูเก็ต

==============================

In [27]:
# 10.3 การใช้หลายเงื่อนไข
# ใช้ & สำหรับ "และ" (AND) และ | สำหรับ "หรือ" (OR)
# แต่ละเงื่อนไขต้องอยู่ในวงเล็บ ()
print("--- 21. คัดกรองนักเรียนที่คะแนนมากกว่า 90 และมาจากเชียงใหม่ ---")
complex_condition = (df['คะแนน'] > 90) & (df['เมือง'] == 'เชียงใหม่')
print(df[complex_condition])
print("\n" + "="*30 + "\n")

print("--- 22. คัดกรองนักเรียนที่อายุต่ำกว่า 19 หรือมาจากภูเก็ต ---")
another_condition = (df['อายุ'] < 19) | (df['เมือง'] == 'ภูเก็ต')
print(df[another_condition])
print("\n")

--- 21. คัดกรองนักเรียนที่คะแนนมากกว่า 90 และมาจากเชียงใหม่ ---
     ชื่อ  อายุ  คะแนน      เมือง
1  สมหญิง    19     92  เชียงใหม่
7    มานะ    18     91  เชียงใหม่

==============================

--- 22. คัดกรองนักเรียนที่อายุต่ำกว่า 19 หรือมาจากภูเก็ต ---
    ชื่อ  อายุ  คะแนน      เมือง
0  สมชาย    18     85    กรุงเทพ
2   มานี    18     78    กรุงเทพ
4   วีระ    21     95     ภูเก็ต
7   มานะ    18     91  เชียงใหม่
9  ไพลิน    21     93     ภูเก็ต

In [28]:
# 10.4 การกรองด้วย .isin()
# ใช้เมื่อต้องการกรองข้อมูลที่ค่าในคอลัมน์ต้องเป็นหนึ่งในค่าที่ระบุใน List
print("--- 23. คัดกรองนักเรียนที่มาจากกรุงเทพหรือภูเก็ตด้วย .isin() ---")
target_cities = ['กรุงเทพ', 'ภูเก็ต']
isin_condition = df['เมือง'].isin(target_cities)
print(df[isin_condition])
print("\n")

--- 23. คัดกรองนักเรียนที่มาจากกรุงเทพหรือภูเก็ตด้วย .isin() ---
    ชื่อ  อายุ  คะแนน    เมือง
0  สมชาย    18     85  กรุงเทพ
2   มานี    18     78  กรุงเทพ
4   วีระ    21     95   ภูเก็ต
6  จันดี    22     89  กรุงเทพ
9  ไพลิน    21     93   ภูเก็ต

In [29]:
# -*- coding: utf-8 -*-
import pandas as pd
import numpy as np

# --- 11. การตรวจหาค่าที่ขาดหาย (Missing Values) ---

# หมายเหตุ: โค้ดส่วนนี้ต้องใช้ไลบรารี NumPy (ที่ import เข้ามาเป็น np)
# กรุณาตรวจสอบให้แน่ใจว่าได้รันเซลล์ที่มี `import numpy as np` ก่อนรันส่วนนี้
# เพื่อการสาธิต เราจะสร้าง DataFrame ใหม่ที่มีค่าขาดหาย (NaN)
data_with_nan = {
    'ชื่อ': ['สมชาย', 'สมหญิง', 'มานี', 'ปิติ', 'วีระ', 'ชูใจ', 'จันดี', 'มานะ', 'เพชร', 'ไพลิน'],
    'อายุ': [18, np.nan, 18, 20, 21, 19, np.nan, 18, 20, 21],
    'คะแนน': [85, 92, 78, np.nan, 95, 76, 89, 91, 82, 93],
    'เมือง': ['กรุงเทพ', 'เชียงใหม่', 'กรุงเทพ', 'ขอนแก่น', np.nan, 'เชียงใหม่', 'กรุงเทพ', 'เชียงใหม่', 'ขอนแก่น', 'ภูเก็ต']
}
df_nan = pd.DataFrame(data_with_nan)
print("--- DataFrame ที่มีค่าขาดหาย (NaN) เพื่อการสาธิต ---")
print(df_nan)
print("\n" + "="*30 + "\n")

--- DataFrame ที่มีค่าขาดหาย (NaN) เพื่อการสาธิต ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย  18.0   85.0    กรุงเทพ
1  สมหญิง   NaN   92.0  เชียงใหม่
2    มานี  18.0   78.0    กรุงเทพ
3    ปิติ  20.0    NaN    ขอนแก่น
4    วีระ  21.0   95.0        NaN
5    ชูใจ  19.0   76.0  เชียงใหม่
6   จันดี   NaN   89.0    กรุงเทพ
7    มานะ  18.0   91.0  เชียงใหม่
8    เพชร  20.0   82.0    ขอนแก่น
9   ไพลิน  21.0   93.0     ภูเก็ต

==============================

In [30]:
# 11.1 df.isnull() หรือ df.isna(): สร้าง DataFrame ที่มีค่าเป็น Boolean (True ถ้าเป็น NaN)
print("--- 24. ตรวจหาค่าที่ขาดหายด้วย .isnull() ---")
print(df_nan.isnull())
print("\n" + "="*30 + "\n")

--- 24. ตรวจหาค่าที่ขาดหายด้วย .isnull() ---
    ชื่อ   อายุ  คะแนน  เมือง
0  False  False  False  False
1  False   True  False  False
2  False  False  False  False
3  False  False   True  False
4  False  False  False   True
5  False  False  False  False
6  False   True  False  False
7  False  False  False  False
8  False  False  False  False
9  False  False  False  False

==============================

In [31]:
# 11.2 df.notnull(): ตรงกันข้ามกับ isnull()
print("--- 25. ตรวจหาค่าที่ไม่ขาดหายด้วย .notnull() ---")
print(df_nan.notnull())
print("\n" + "="*30 + "\n")

--- 25. ตรวจหาค่าที่ไม่ขาดหายด้วย .notnull() ---
   ชื่อ   อายุ  คะแนน  เมือง
0  True   True   True   True
1  True  False   True   True
2  True   True   True   True
3  True   True  False   True
4  True   True   True  False
5  True   True   True   True
6  True  False   True   True
7  True   True   True   True
8  True   True   True   True
9  True   True   True   True

==============================

In [32]:
# 11.3 ใช้ .sum() เพื่อนับจำนวนค่าที่ขาดหายในแต่ละคอลัมน์ (วิธีที่ใช้บ่อยที่สุด)
print("--- 26. นับจำนวนค่าที่ขาดหายในแต่ละคอลัมน์ด้วย .isnull().sum() ---")
print(df_nan.isnull().sum())
print("\n")

--- 26. นับจำนวนค่าที่ขาดหายในแต่ละคอลัมน์ด้วย .isnull().sum() ---
ชื่อ     0
อายุ     2
คะแนน    1
เมือง    1
dtype: int64

In [33]:
# --- 12. การจัดการค่าที่ขาดหาย: กลยุทธ์ที่ 1 - การลบด้วย .dropna() ---

# 12.1 df.dropna(): ลบ "แถว" ที่มี NaN อย่างน้อยหนึ่งตัว (default)
print("--- 27. ลบแถวที่มี NaN อย่างน้อยหนึ่งตัว (default) ---")
print(df_nan.dropna())
print("\n" + "="*30 + "\n")

--- 27. ลบแถวที่มี NaN อย่างน้อยหนึ่งตัว (default) ---
    ชื่อ  อายุ  คะแนน      เมือง
0  สมชาย  18.0   85.0    กรุงเทพ
2   มานี  18.0   78.0    กรุงเทพ
5   ชูใจ  19.0   76.0  เชียงใหม่
7   มานะ  18.0   91.0  เชียงใหม่
8   เพชร  20.0   82.0    ขอนแก่น
9  ไพลิน  21.0   93.0     ภูเก็ต

==============================

In [34]:
# 12.2 df.dropna(axis='columns'): ลบ "คอลัมน์" ที่มี NaN
print("--- 28. ลบคอลัมน์ที่มี NaN ---")
print(df_nan.dropna(axis='columns')) # หรือ axis=1
print("\n" + "="*30 + "\n")

--- 28. ลบคอลัมน์ที่มี NaN ---
     ชื่อ
0   สมชาย
1  สมหญิง
2    มานี
3    ปิติ
4    วีระ
5    ชูใจ
6   จันดี
7    มานะ
8    เพชร
9   ไพลิน

==============================

In [35]:
# 12.3 df.dropna(how='all'): ลบแถวก็ต่อเมื่อ "ทุกค่า" ในแถวนั้นเป็น NaN
# สร้าง DataFrame สำหรับสาธิต how='all' โดยเพิ่มแถวที่เป็น NaN ทั้งหมดเข้าไป
df_how_all_demo = df_nan.copy()
all_nan_row = pd.DataFrame([{'ชื่อ': np.nan, 'อายุ': np.nan, 'คะแนน': np.nan, 'เมือง': np.nan}])
df_how_all_demo = pd.concat([df_how_all_demo, all_nan_row], ignore_index=True)
print("--- DataFrame สำหรับสาธิต how='all' (เพิ่มแถวที่เป็น NaN ทั้งหมด) ---")
print(df_how_all_demo.tail()) # แสดงส่วนท้ายเพื่อให้เห็นแถวที่เพิ่มเข้าไป
print("\n--- 29. ผลลัพธ์หลังใช้ .dropna(how='all') ---")
print(df_how_all_demo.dropna(how='all'))
print("\n" + "="*30 + "\n")

--- DataFrame สำหรับสาธิต how='all' (เพิ่มแถวที่เป็น NaN ทั้งหมด) ---
     ชื่อ  อายุ  คะแนน      เมือง
6   จันดี   NaN   89.0    กรุงเทพ
7    มานะ  18.0   91.0  เชียงใหม่
8    เพชร  20.0   82.0    ขอนแก่น
9   ไพลิน  21.0   93.0     ภูเก็ต
10    NaN   NaN    NaN        NaN

--- 29. ผลลัพธ์หลังใช้ .dropna(how='all') ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย  18.0   85.0    กรุงเทพ
1  สมหญิง   NaN   92.0  เชียงใหม่
2    มานี  18.0   78.0    กรุงเทพ
3    ปิติ  20.0    NaN    ขอนแก่น
4    วีระ  21.0   95.0        NaN
5    ชูใจ  19.0   76.0  เชียงใหม่
6   จันดี   NaN   89.0    กรุงเทพ
7    มานะ  18.0   91.0  เชียงใหม่
8    เพชร  20.0   82.0    ขอนแก่น
9   ไพลิน  21.0   93.0     ภูเก็ต

==============================

In [36]:
# 12.4 df.dropna(subset=[...]): พิจารณา NaN แค่ในคอลัมน์ที่ระบุเพื่อตัดสินใจลบแถว
print("--- 30. ลบแถวโดยพิจารณา NaN แค่ในคอลัมน์ 'คะแนน' ---")
# แถวที่มี NaN ในคอลัมน์ 'คะแนน' จะถูกลบออกไป
print(df_nan.dropna(subset=['คะแนน']))
print("\n")

--- 30. ลบแถวโดยพิจารณา NaN แค่ในคอลัมน์ 'คะแนน' ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย  18.0   85.0    กรุงเทพ
1  สมหญิง   NaN   92.0  เชียงใหม่
2    มานี  18.0   78.0    กรุงเทพ
4    วีระ  21.0   95.0        NaN
5    ชูใจ  19.0   76.0  เชียงใหม่
6   จันดี   NaN   89.0    กรุงเทพ
7    มานะ  18.0   91.0  เชียงใหม่
8    เพชร  20.0   82.0    ขอนแก่น
9   ไพลิน  21.0   93.0     ภูเก็ต

In [37]:
# --- 13. การจัดการค่าที่ขาดหาย: กลยุทธ์ที่ 2 - การเติมด้วย .fillna() ---
print("--- DataFrame ต้นฉบับสำหรับสาธิต .fillna() ---")
print(df_nan)
print("\n" + "="*30 + "\n")

# 13.1 แทนที่ด้วยค่าคงที่ (Constant Value)
print("--- 31. แทนที่ NaN ทั้งหมดด้วย 0 ---")
print(df_nan.fillna(0))
print("\n")

--- DataFrame ต้นฉบับสำหรับสาธิต .fillna() ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย  18.0   85.0    กรุงเทพ
1  สมหญิง   NaN   92.0  เชียงใหม่
2    มานี  18.0   78.0    กรุงเทพ
3    ปิติ  20.0    NaN    ขอนแก่น
4    วีระ  21.0   95.0        NaN
5    ชูใจ  19.0   76.0  เชียงใหม่
6   จันดี   NaN   89.0    กรุงเทพ
7    มานะ  18.0   91.0  เชียงใหม่
8    เพชร  20.0   82.0    ขอนแก่น
9   ไพลิน  21.0   93.0     ภูเก็ต

==============================

--- 31. แทนที่ NaN ทั้งหมดด้วย 0 ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย  18.0   85.0    กรุงเทพ
1  สมหญิง   0.0   92.0  เชียงใหม่
2    มานี  18.0   78.0    กรุงเทพ
3    ปิติ  20.0    0.0    ขอนแก่น
4    วีระ  21.0   95.0          0
5    ชูใจ  19.0   76.0  เชียงใหม่
6   จันดี   0.0   89.0    กรุงเทพ
7    มานะ  18.0   91.0  เชียงใหม่
8    เพชร  20.0   82.0    ขอนแก่น
9   ไพลิน  21.0   93.0     ภูเก็ต

In [38]:
# --- 13. การจัดการค่าที่ขาดหาย: กลยุทธ์ที่ 2 - การเติมด้วย .fillna() ---
print("--- DataFrame ต้นฉบับสำหรับสาธิต .fillna() ---")
print(df_nan)
print("\n" + "="*30 + "\n")

print("--- 32. แทนที่ NaN ในคอลัมน์ 'เมือง' ด้วย 'ไม่ระบุ' ---")
df_filled_city = df_nan.copy() # สร้างสำเนาเพื่อไม่ให้กระทบตัวอย่างอื่น
df_filled_city['เมือง'] = df_filled_city['เมือง'].fillna('ไม่ระบุ')
print(df_filled_city)
print("\n" + "="*30 + "\n")

--- DataFrame ต้นฉบับสำหรับสาธิต .fillna() ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย  18.0   85.0    กรุงเทพ
1  สมหญิง   NaN   92.0  เชียงใหม่
2    มานี  18.0   78.0    กรุงเทพ
3    ปิติ  20.0    NaN    ขอนแก่น
4    วีระ  21.0   95.0        NaN
5    ชูใจ  19.0   76.0  เชียงใหม่
6   จันดี   NaN   89.0    กรุงเทพ
7    มานะ  18.0   91.0  เชียงใหม่
8    เพชร  20.0   82.0    ขอนแก่น
9   ไพลิน  21.0   93.0     ภูเก็ต

==============================

--- 32. แทนที่ NaN ในคอลัมน์ 'เมือง' ด้วย 'ไม่ระบุ' ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย  18.0   85.0    กรุงเทพ
1  สมหญิง   NaN   92.0  เชียงใหม่
2    มานี  18.0   78.0    กรุงเทพ
3    ปิติ  20.0    NaN    ขอนแก่น
4    วีระ  21.0   95.0    ไม่ระบุ
5    ชูใจ  19.0   76.0  เชียงใหม่
6   จันดี   NaN   89.0    กรุงเทพ
7    มานะ  18.0   91.0  เชียงใหม่
8    เพชร  20.0   82.0    ขอนแก่น
9   ไพลิน  21.0   93.0     ภูเก็ต

==============================

In [39]:
# --- 13. การจัดการค่าที่ขาดหาย: กลยุทธ์ที่ 2 - การเติมด้วย .fillna() ---
print("--- DataFrame ต้นฉบับสำหรับสาธิต .fillna() ---")
print(df_nan)
print("\n" + "="*30 + "\n")

# 13.2 แทนที่ด้วยค่าทางสถิติ (Statistical Value)
print("--- 33. แทนที่ NaN ใน 'อายุ' ด้วยค่าเฉลี่ย (mean) ---")
age_mean = df_nan['อายุ'].mean()
print(f"ค่าเฉลี่ยของอายุ: {age_mean:.2f}")
print(df_nan['อายุ'].fillna(age_mean))
print("\n")

--- DataFrame ต้นฉบับสำหรับสาธิต .fillna() ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย  18.0   85.0    กรุงเทพ
1  สมหญิง   NaN   92.0  เชียงใหม่
2    มานี  18.0   78.0    กรุงเทพ
3    ปิติ  20.0    NaN    ขอนแก่น
4    วีระ  21.0   95.0        NaN
5    ชูใจ  19.0   76.0  เชียงใหม่
6   จันดี   NaN   89.0    กรุงเทพ
7    มานะ  18.0   91.0  เชียงใหม่
8    เพชร  20.0   82.0    ขอนแก่น
9   ไพลิน  21.0   93.0     ภูเก็ต

==============================

--- 33. แทนที่ NaN ใน 'อายุ' ด้วยค่าเฉลี่ย (mean) ---
ค่าเฉลี่ยของอายุ: 19.38
0    18.000
1    19.375
2    18.000
3    20.000
4    21.000
5    19.000
6    19.375
7    18.000
8    20.000
9    21.000
Name: อายุ, dtype: float64

In [40]:
# --- 13. การจัดการค่าที่ขาดหาย: กลยุทธ์ที่ 2 - การเติมด้วย .fillna() ---
print("--- DataFrame ต้นฉบับสำหรับสาธิต .fillna() ---")
print(df_nan)
print("\n" + "="*30 + "\n")

print("--- 34. แทนที่ NaN ใน 'คะแนน' ด้วยค่ามัธยฐาน (median) ---")
score_median = df_nan['คะแนน'].median()
print(f"ค่ามัธยฐานของคะแนน: {score_median}")
print(df_nan['คะแนน'].fillna(score_median))
print("\n")

--- DataFrame ต้นฉบับสำหรับสาธิต .fillna() ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย  18.0   85.0    กรุงเทพ
1  สมหญิง   NaN   92.0  เชียงใหม่
2    มานี  18.0   78.0    กรุงเทพ
3    ปิติ  20.0    NaN    ขอนแก่น
4    วีระ  21.0   95.0        NaN
5    ชูใจ  19.0   76.0  เชียงใหม่
6   จันดี   NaN   89.0    กรุงเทพ
7    มานะ  18.0   91.0  เชียงใหม่
8    เพชร  20.0   82.0    ขอนแก่น
9   ไพลิน  21.0   93.0     ภูเก็ต

==============================

--- 34. แทนที่ NaN ใน 'คะแนน' ด้วยค่ามัธยฐาน (median) ---
ค่ามัธยฐานของคะแนน: 89.0
0    85.0
1    92.0
2    78.0
3    89.0
4    95.0
5    76.0
6    89.0
7    91.0
8    82.0
9    93.0
Name: คะแนน, dtype: float64

In [41]:
# --- 13. การจัดการค่าที่ขาดหาย: กลยุทธ์ที่ 2 - การเติมด้วย .fillna() ---
print("--- DataFrame ต้นฉบับสำหรับสาธิต .fillna() ---")
print(df_nan)
print("\n" + "="*30 + "\n")

print("--- 35. แทนที่ NaN ใน 'เมือง' ด้วยค่าฐานนิยม (mode) ---")
city_mode = df_nan['เมือง'].mode()[0] # .mode() คืนค่าเป็น Series จึงต้องเลือกตัวแรก [0]
print(f"ค่าฐานนิยมของเมือง: {city_mode}")
print(df_nan['เมือง'].fillna(city_mode))
print("\n" + "="*30 + "\n")

--- DataFrame ต้นฉบับสำหรับสาธิต .fillna() ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย  18.0   85.0    กรุงเทพ
1  สมหญิง   NaN   92.0  เชียงใหม่
2    มานี  18.0   78.0    กรุงเทพ
3    ปิติ  20.0    NaN    ขอนแก่น
4    วีระ  21.0   95.0        NaN
5    ชูใจ  19.0   76.0  เชียงใหม่
6   จันดี   NaN   89.0    กรุงเทพ
7    มานะ  18.0   91.0  เชียงใหม่
8    เพชร  20.0   82.0    ขอนแก่น
9   ไพลิน  21.0   93.0     ภูเก็ต

==============================

--- 35. แทนที่ NaN ใน 'เมือง' ด้วยค่าฐานนิยม (mode) ---
ค่าฐานนิยมของเมือง: กรุงเทพ
0      กรุงเทพ
1    เชียงใหม่
2      กรุงเทพ
3      ขอนแก่น
4      กรุงเทพ
5    เชียงใหม่
6      กรุงเทพ
7    เชียงใหม่
8      ขอนแก่น
9       ภูเก็ต
Name: เมือง, dtype: object

==============================

In [42]:
# --- 13. การจัดการค่าที่ขาดหาย: กลยุทธ์ที่ 2 - การเติมด้วย .fillna() ---
print("--- DataFrame ต้นฉบับสำหรับสาธิต .fillna() ---")
print(df_nan)
print("\n" + "="*30 + "\n")

# 13.3 แทนที่ด้วยค่าก่อนหน้า/ถัดไป (Propagation)
print("--- 36. แทนที่ NaN ด้วยค่าก่อนหน้า (Forward Fill) ---")
print(df_nan.fillna(method='ffill'))
print("\n")

--- DataFrame ต้นฉบับสำหรับสาธิต .fillna() ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย  18.0   85.0    กรุงเทพ
1  สมหญิง   NaN   92.0  เชียงใหม่
2    มานี  18.0   78.0    กรุงเทพ
3    ปิติ  20.0    NaN    ขอนแก่น
4    วีระ  21.0   95.0        NaN
5    ชูใจ  19.0   76.0  เชียงใหม่
6   จันดี   NaN   89.0    กรุงเทพ
7    มานะ  18.0   91.0  เชียงใหม่
8    เพชร  20.0   82.0    ขอนแก่น
9   ไพลิน  21.0   93.0     ภูเก็ต

==============================

--- 36. แทนที่ NaN ด้วยค่าก่อนหน้า (Forward Fill) ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย  18.0   85.0    กรุงเทพ
1  สมหญิง  18.0   92.0  เชียงใหม่
2    มานี  18.0   78.0    กรุงเทพ
3    ปิติ  20.0   78.0    ขอนแก่น
4    วีระ  21.0   95.0    ขอนแก่น
5    ชูใจ  19.0   76.0  เชียงใหม่
6   จันดี  19.0   89.0    กรุงเทพ
7    มานะ  18.0   91.0  เชียงใหม่
8    เพชร  20.0   82.0    ขอนแก่น
9   ไพลิน  21.0   93.0     ภูเก็ต

C:\Users\LOBSTER69\AppData\Local\Temp\ipykernel_16916\570268905.py:8: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df_nan.fillna(method='ffill'))

In [43]:
# --- 13. การจัดการค่าที่ขาดหาย: กลยุทธ์ที่ 2 - การเติมด้วย .fillna() ---
print("--- DataFrame ต้นฉบับสำหรับสาธิต .fillna() ---")
print(df_nan)
print("\n" + "="*30 + "\n")

print("--- 37. แทนที่ NaN ด้วยค่าถัดไป (Backward Fill) ---")
print(df_nan.fillna(method='bfill'))
print("\n")

--- DataFrame ต้นฉบับสำหรับสาธิต .fillna() ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย  18.0   85.0    กรุงเทพ
1  สมหญิง   NaN   92.0  เชียงใหม่
2    มานี  18.0   78.0    กรุงเทพ
3    ปิติ  20.0    NaN    ขอนแก่น
4    วีระ  21.0   95.0        NaN
5    ชูใจ  19.0   76.0  เชียงใหม่
6   จันดี   NaN   89.0    กรุงเทพ
7    มานะ  18.0   91.0  เชียงใหม่
8    เพชร  20.0   82.0    ขอนแก่น
9   ไพลิน  21.0   93.0     ภูเก็ต

==============================

--- 37. แทนที่ NaN ด้วยค่าถัดไป (Backward Fill) ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย  18.0   85.0    กรุงเทพ
1  สมหญิง  18.0   92.0  เชียงใหม่
2    มานี  18.0   78.0    กรุงเทพ
3    ปิติ  20.0   95.0    ขอนแก่น
4    วีระ  21.0   95.0  เชียงใหม่
5    ชูใจ  19.0   76.0  เชียงใหม่
6   จันดี  18.0   89.0    กรุงเทพ
7    มานะ  18.0   91.0  เชียงใหม่
8    เพชร  20.0   82.0    ขอนแก่น
9   ไพลิน  21.0   93.0     ภูเก็ต

C:\Users\LOBSTER69\AppData\Local\Temp\ipykernel_16916\145887521.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df_nan.fillna(method='bfill'))

In [44]:
# --- 15. การลบคอลัมน์/แถวด้วย .drop() ---
# ใช้สำหรับลบคอลัมน์หรือแถวที่ไม่ต้องการ
print("--- DataFrame ต้นฉบับสำหรับสาธิต .drop() ---")
print(df)
print("\n" + "="*30 + "\n")

# 15.1 ลบคอลัมน์ (ต้องระบุ axis=1)
print("--- 40. ลบคอลัมน์ 'เมือง' ---")
df_dropped_col = df.drop('เมือง', axis=1)
print(df_dropped_col)
print("\n" + "="*30 + "\n")

--- DataFrame ต้นฉบับสำหรับสาธิต .drop() ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย    18     85    กรุงเทพ
1  สมหญิง    19     92  เชียงใหม่
2    มานี    18     78    กรุงเทพ
3    ปิติ    20     88    ขอนแก่น
4    วีระ    21     95     ภูเก็ต
5    ชูใจ    19     76  เชียงใหม่
6   จันดี    22     89    กรุงเทพ
7    มานะ    18     91  เชียงใหม่
8    เพชร    20     82    ขอนแก่น
9   ไพลิน    21     93     ภูเก็ต

==============================

--- 40. ลบคอลัมน์ 'เมือง' ---
     ชื่อ  อายุ  คะแนน
0   สมชาย    18     85
1  สมหญิง    19     92
2    มานี    18     78
3    ปิติ    20     88
4    วีระ    21     95
5    ชูใจ    19     76
6   จันดี    22     89
7    มานะ    18     91
8    เพชร    20     82
9   ไพลิน    21     93

==============================

In [45]:
# --- 15. การลบคอลัมน์/แถวด้วย .drop() ---
# ใช้สำหรับลบคอลัมน์หรือแถวที่ไม่ต้องการ
print("--- DataFrame ต้นฉบับสำหรับสาธิต .drop() ---")
print(df)
print("\n" + "="*30 + "\n")

# 15.2 ลบแถว (axis=0 เป็นค่า default)
print("--- 41. ลบแถวที่มี index label เป็น 2 ---")
df_dropped_row = df.drop(2, axis=0) # หรือ df.drop(2)
print(df_dropped_row)
print("\n" + "="*30 + "\n")

--- DataFrame ต้นฉบับสำหรับสาธิต .drop() ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย    18     85    กรุงเทพ
1  สมหญิง    19     92  เชียงใหม่
2    มานี    18     78    กรุงเทพ
3    ปิติ    20     88    ขอนแก่น
4    วีระ    21     95     ภูเก็ต
5    ชูใจ    19     76  เชียงใหม่
6   จันดี    22     89    กรุงเทพ
7    มานะ    18     91  เชียงใหม่
8    เพชร    20     82    ขอนแก่น
9   ไพลิน    21     93     ภูเก็ต

==============================

--- 41. ลบแถวที่มี index label เป็น 2 ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย    18     85    กรุงเทพ
1  สมหญิง    19     92  เชียงใหม่
3    ปิติ    20     88    ขอนแก่น
4    วีระ    21     95     ภูเก็ต
5    ชูใจ    19     76  เชียงใหม่
6   จันดี    22     89    กรุงเทพ
7    มานะ    18     91  เชียงใหม่
8    เพชร    20     82    ขอนแก่น
9   ไพลิน    21     93     ภูเก็ต

==============================

In [46]:
# --- 15. การลบคอลัมน์/แถวด้วย .drop() ---
# ใช้สำหรับลบคอลัมน์หรือแถวที่ไม่ต้องการ
print("--- DataFrame ต้นฉบับสำหรับสาธิต .drop() ---")
print(df)
print("\n" + "="*30 + "\n")

# 15.3 ลบหลายรายการพร้อมกันโดยใส่เป็น List
print("--- 42. ลบหลายคอลัมน์ ('อายุ', 'เมือง') ---")
df_dropped_multi_cols = df.drop(['อายุ', 'เมือง'], axis=1)
print(df_dropped_multi_cols)
print("\n")

--- DataFrame ต้นฉบับสำหรับสาธิต .drop() ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย    18     85    กรุงเทพ
1  สมหญิง    19     92  เชียงใหม่
2    มานี    18     78    กรุงเทพ
3    ปิติ    20     88    ขอนแก่น
4    วีระ    21     95     ภูเก็ต
5    ชูใจ    19     76  เชียงใหม่
6   จันดี    22     89    กรุงเทพ
7    มานะ    18     91  เชียงใหม่
8    เพชร    20     82    ขอนแก่น
9   ไพลิน    21     93     ภูเก็ต

==============================

--- 42. ลบหลายคอลัมน์ ('อายุ', 'เมือง') ---
     ชื่อ  คะแนน
0   สมชาย     85
1  สมหญิง     92
2    มานี     78
3    ปิติ     88
4    วีระ     95
5    ชูใจ     76
6   จันดี     89
7    มานะ     91
8    เพชร     82
9   ไพลิน     93

In [47]:
# --- 15. การลบคอลัมน์/แถวด้วย .drop() ---
# ใช้สำหรับลบคอลัมน์หรือแถวที่ไม่ต้องการ
print("--- DataFrame ต้นฉบับสำหรับสาธิต .drop() ---")
print(df)
print("\n" + "="*30 + "\n")

print("--- 43. ลบหลายแถว (index 0, 3, 5) ---")
df_dropped_multi_rows = df.drop([0, 3, 5])
print(df_dropped_multi_rows)
print("\n")

--- DataFrame ต้นฉบับสำหรับสาธิต .drop() ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย    18     85    กรุงเทพ
1  สมหญิง    19     92  เชียงใหม่
2    มานี    18     78    กรุงเทพ
3    ปิติ    20     88    ขอนแก่น
4    วีระ    21     95     ภูเก็ต
5    ชูใจ    19     76  เชียงใหม่
6   จันดี    22     89    กรุงเทพ
7    มานะ    18     91  เชียงใหม่
8    เพชร    20     82    ขอนแก่น
9   ไพลิน    21     93     ภูเก็ต

==============================

--- 43. ลบหลายแถว (index 0, 3, 5) ---
     ชื่อ  อายุ  คะแนน      เมือง
1  สมหญิง    19     92  เชียงใหม่
2    มานี    18     78    กรุงเทพ
4    วีระ    21     95     ภูเก็ต
6   จันดี    22     89    กรุงเทพ
7    มานะ    18     91  เชียงใหม่
8    เพชร    20     82    ขอนแก่น
9   ไพลิน    21     93     ภูเก็ต

In [48]:
# --- 16. การเรียงลำดับข้อมูลด้วย .sort_values() ---
print("--- DataFrame ต้นฉบับสำหรับสาธิต .sort_values() ---")
print(df)
print("\n" + "="*30 + "\n")

# 16.1 เรียงตามคอลัมน์เดียว (น้อยไปมาก)
print("--- 44. เรียงลำดับตามคะแนน (น้อยไปมาก) ---")
sorted_by_score = df.sort_values(by='คะแนน')
print(sorted_by_score)
print("\n" + "="*30 + "\n")

--- DataFrame ต้นฉบับสำหรับสาธิต .sort_values() ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย    18     85    กรุงเทพ
1  สมหญิง    19     92  เชียงใหม่
2    มานี    18     78    กรุงเทพ
3    ปิติ    20     88    ขอนแก่น
4    วีระ    21     95     ภูเก็ต
5    ชูใจ    19     76  เชียงใหม่
6   จันดี    22     89    กรุงเทพ
7    มานะ    18     91  เชียงใหม่
8    เพชร    20     82    ขอนแก่น
9   ไพลิน    21     93     ภูเก็ต

==============================

--- 44. เรียงลำดับตามคะแนน (น้อยไปมาก) ---
     ชื่อ  อายุ  คะแนน      เมือง
5    ชูใจ    19     76  เชียงใหม่
2    มานี    18     78    กรุงเทพ
8    เพชร    20     82    ขอนแก่น
0   สมชาย    18     85    กรุงเทพ
3    ปิติ    20     88    ขอนแก่น
6   จันดี    22     89    กรุงเทพ
7    มานะ    18     91  เชียงใหม่
1  สมหญิง    19     92  เชียงใหม่
9   ไพลิน    21     93     ภูเก็ต
4    วีระ    21     95     ภูเก็ต

==============================

In [49]:
# --- 16. การเรียงลำดับข้อมูลด้วย .sort_values() ---
print("--- DataFrame ต้นฉบับสำหรับสาธิต .sort_values() ---")
print(df)
print("\n" + "="*30 + "\n")

# 16.2 เรียงตามคอลัมน์เดียว (มากไปน้อย)
print("--- 45. เรียงลำดับตามคะแนน (มากไปน้อย) ---")
sorted_by_score_desc = df.sort_values(by='คะแนน', ascending=False)
print(sorted_by_score_desc)
print("\n" + "="*30 + "\n")

--- DataFrame ต้นฉบับสำหรับสาธิต .sort_values() ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย    18     85    กรุงเทพ
1  สมหญิง    19     92  เชียงใหม่
2    มานี    18     78    กรุงเทพ
3    ปิติ    20     88    ขอนแก่น
4    วีระ    21     95     ภูเก็ต
5    ชูใจ    19     76  เชียงใหม่
6   จันดี    22     89    กรุงเทพ
7    มานะ    18     91  เชียงใหม่
8    เพชร    20     82    ขอนแก่น
9   ไพลิน    21     93     ภูเก็ต

==============================

--- 45. เรียงลำดับตามคะแนน (มากไปน้อย) ---
     ชื่อ  อายุ  คะแนน      เมือง
4    วีระ    21     95     ภูเก็ต
9   ไพลิน    21     93     ภูเก็ต
1  สมหญิง    19     92  เชียงใหม่
7    มานะ    18     91  เชียงใหม่
6   จันดี    22     89    กรุงเทพ
3    ปิติ    20     88    ขอนแก่น
0   สมชาย    18     85    กรุงเทพ
8    เพชร    20     82    ขอนแก่น
2    มานี    18     78    กรุงเทพ
5    ชูใจ    19     76  เชียงใหม่

==============================

In [50]:
# --- 16. การเรียงลำดับข้อมูลด้วย .sort_values() ---
print("--- DataFrame ต้นฉบับสำหรับสาธิต .sort_values() ---")
print(df)
print("\n" + "="*30 + "\n")

# 16.3 เรียงตามหลายคอลัมน์
print("--- 46. เรียงลำดับตามเมือง (A-Z) และคะแนน (มากไปน้อย) ---")
sorted_multi = df.sort_values(by=['เมือง', 'คะแนน'], ascending=[True, False])
print(sorted_multi)
print("\n")

--- DataFrame ต้นฉบับสำหรับสาธิต .sort_values() ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย    18     85    กรุงเทพ
1  สมหญิง    19     92  เชียงใหม่
2    มานี    18     78    กรุงเทพ
3    ปิติ    20     88    ขอนแก่น
4    วีระ    21     95     ภูเก็ต
5    ชูใจ    19     76  เชียงใหม่
6   จันดี    22     89    กรุงเทพ
7    มานะ    18     91  เชียงใหม่
8    เพชร    20     82    ขอนแก่น
9   ไพลิน    21     93     ภูเก็ต

==============================

--- 46. เรียงลำดับตามเมือง (A-Z) และคะแนน (มากไปน้อย) ---
     ชื่อ  อายุ  คะแนน      เมือง
6   จันดี    22     89    กรุงเทพ
0   สมชาย    18     85    กรุงเทพ
2    มานี    18     78    กรุงเทพ
3    ปิติ    20     88    ขอนแก่น
8    เพชร    20     82    ขอนแก่น
4    วีระ    21     95     ภูเก็ต
9   ไพลิน    21     93     ภูเก็ต
1  สมหญิง    19     92  เชียงใหม่
7    มานะ    18     91  เชียงใหม่
5    ชูใจ    19     76  เชียงใหม่

In [51]:
# --- 17. การสร้างคอลัมน์ใหม่ (Feature Engineering) ---
# เราสามารถสร้างคอลัมน์ใหม่จากการคำนวณของคอลัมน์ที่มีอยู่
print("--- DataFrame ต้นฉบับสำหรับสาธิตการสร้างคอลัมน์ใหม่ ---")
df_new_col = df.copy() # สร้างสำเนาเพื่อไม่ให้กระทบ df เดิม
print(df_new_col)
print("\n" + "="*30 + "\n")

# 17.1 สร้างคอลัมน์ใหม่จากการคำนวณโดยตรง
print("--- 47. สร้างคอลัมน์ 'คะแนนเต็ม 10' ---")
df_new_col['คะแนนเต็ม 10'] = df_new_col['คะแนน'] / 10
print(df_new_col)
print("\n" + "="*30 + "\n")

--- DataFrame ต้นฉบับสำหรับสาธิตการสร้างคอลัมน์ใหม่ ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย    18     85    กรุงเทพ
1  สมหญิง    19     92  เชียงใหม่
2    มานี    18     78    กรุงเทพ
3    ปิติ    20     88    ขอนแก่น
4    วีระ    21     95     ภูเก็ต
5    ชูใจ    19     76  เชียงใหม่
6   จันดี    22     89    กรุงเทพ
7    มานะ    18     91  เชียงใหม่
8    เพชร    20     82    ขอนแก่น
9   ไพลิน    21     93     ภูเก็ต

==============================

--- 47. สร้างคอลัมน์ 'คะแนนเต็ม 10' ---
     ชื่อ  อายุ  คะแนน      เมือง  คะแนนเต็ม 10
0   สมชาย    18     85    กรุงเทพ           8.5
1  สมหญิง    19     92  เชียงใหม่           9.2
2    มานี    18     78    กรุงเทพ           7.8
3    ปิติ    20     88    ขอนแก่น           8.8
4    วีระ    21     95     ภูเก็ต           9.5
5    ชูใจ    19     76  เชียงใหม่           7.6
6   จันดี    22     89    กรุงเทพ           8.9
7    มานะ    18     91  เชียงใหม่           9.1
8    เพชร    20     82    ขอนแก่น           8.2
9   ไพลิน    21     93     ภูเก็ต           9.3

==============================

In [52]:
# --- 17. การสร้างคอลัมน์ใหม่ (Feature Engineering) ---
# เราสามารถสร้างคอลัมน์ใหม่จากการคำนวณของคอลัมน์ที่มีอยู่
print("--- DataFrame ต้นฉบับสำหรับสาธิตการสร้างคอลัมน์ใหม่ ---")
df_new_col = df.copy() # สร้างสำเนาเพื่อไม่ให้กระทบ df เดิม
print(df_new_col)
print("\n" + "="*30 + "\n")

# 17.2 สร้างคอลัมน์ใหม่โดยใช้เงื่อนไข (np.where)
print("--- 48. สร้างคอลัมน์ 'ผลการสอบ' (คะแนน >= 80 ถือว่าผ่าน) ---")
df_new_col['ผลการสอบ'] = np.where(df_new_col['คะแนน'] >= 80, 'ผ่าน', 'ไม่ผ่าน')
print(df_new_col)
print("\n" + "="*30 + "\n")

--- DataFrame ต้นฉบับสำหรับสาธิตการสร้างคอลัมน์ใหม่ ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย    18     85    กรุงเทพ
1  สมหญิง    19     92  เชียงใหม่
2    มานี    18     78    กรุงเทพ
3    ปิติ    20     88    ขอนแก่น
4    วีระ    21     95     ภูเก็ต
5    ชูใจ    19     76  เชียงใหม่
6   จันดี    22     89    กรุงเทพ
7    มานะ    18     91  เชียงใหม่
8    เพชร    20     82    ขอนแก่น
9   ไพลิน    21     93     ภูเก็ต

==============================

--- 48. สร้างคอลัมน์ 'ผลการสอบ' (คะแนน >= 80 ถือว่าผ่าน) ---
     ชื่อ  อายุ  คะแนน      เมือง ผลการสอบ
0   สมชาย    18     85    กรุงเทพ     ผ่าน
1  สมหญิง    19     92  เชียงใหม่     ผ่าน
2    มานี    18     78    กรุงเทพ  ไม่ผ่าน
3    ปิติ    20     88    ขอนแก่น     ผ่าน
4    วีระ    21     95     ภูเก็ต     ผ่าน
5    ชูใจ    19     76  เชียงใหม่  ไม่ผ่าน
6   จันดี    22     89    กรุงเทพ     ผ่าน
7    มานะ    18     91  เชียงใหม่     ผ่าน
8    เพชร    20     82    ขอนแก่น     ผ่าน
9   ไพลิน    21     93     ภูเก็ต     ผ่าน

==============================

In [53]:
# --- 17. การสร้างคอลัมน์ใหม่ (Feature Engineering) ---
# เราสามารถสร้างคอลัมน์ใหม่จากการคำนวณของคอลัมน์ที่มีอยู่
print("--- DataFrame ต้นฉบับสำหรับสาธิตการสร้างคอลัมน์ใหม่ ---")
df_new_col = df.copy() # สร้างสำเนาเพื่อไม่ให้กระทบ df เดิม
print(df_new_col)
print("\n" + "="*30 + "\n")

# 17.3 สร้างคอลัมน์ใหม่โดยใช้ฟังก์ชันกับ .apply()
def categorize_age(age):
    if age < 20:
        return 'วัยรุ่น'
    else:
        return 'ผู้ใหญ่'

print("--- 49. สร้างคอลัมน์ 'กลุ่มอายุ' โดยใช้ฟังก์ชัน ---")
df_new_col['กลุ่มอายุ'] = df_new_col['อายุ'].apply(categorize_age)
print(df_new_col)
print("\n")

--- DataFrame ต้นฉบับสำหรับสาธิตการสร้างคอลัมน์ใหม่ ---
     ชื่อ  อายุ  คะแนน      เมือง
0   สมชาย    18     85    กรุงเทพ
1  สมหญิง    19     92  เชียงใหม่
2    มานี    18     78    กรุงเทพ
3    ปิติ    20     88    ขอนแก่น
4    วีระ    21     95     ภูเก็ต
5    ชูใจ    19     76  เชียงใหม่
6   จันดี    22     89    กรุงเทพ
7    มานะ    18     91  เชียงใหม่
8    เพชร    20     82    ขอนแก่น
9   ไพลิน    21     93     ภูเก็ต

==============================

--- 49. สร้างคอลัมน์ 'กลุ่มอายุ' โดยใช้ฟังก์ชัน ---
     ชื่อ  อายุ  คะแนน      เมือง กลุ่มอายุ
0   สมชาย    18     85    กรุงเทพ   วัยรุ่น
1  สมหญิง    19     92  เชียงใหม่   วัยรุ่น
2    มานี    18     78    กรุงเทพ   วัยรุ่น
3    ปิติ    20     88    ขอนแก่น   ผู้ใหญ่
4    วีระ    21     95     ภูเก็ต   ผู้ใหญ่
5    ชูใจ    19     76  เชียงใหม่   วัยรุ่น
6   จันดี    22     89    กรุงเทพ   ผู้ใหญ่
7    มานะ    18     91  เชียงใหม่   วัยรุ่น
8    เพชร    20     82    ขอนแก่น   ผู้ใหญ่
9   ไพลิน    21     93     ภูเก็ต   ผู้ใหญ่